@page
@using Sheta.Data.Models.Entities.User
@model Sheta.Web.Pages.Admin.User.CreateModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/Admin_Layout.cshtml";
    List<Role> Roles = ViewData["Roles"] as List<Role>;
}



<div class="main-content" id="panel">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-user">
                <div class="card-header">
                    <h5 class="card-title"style="font-size: 25px;">افزودن کاربر جدید</h5>
                </div>
                <div class="card-body" style="float: right !important;">
                    
                    <form method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label class="control-label" for="UserName">نام کاربری</label>
                                    <input type="text" asp-for="CreateUserViewModel.UserName" class="form-control">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="UserName" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="col-md-6 px-1">
                                <div class="form-group">
                                    <label class="control-label" for="Email">ایمیل</label>
                                    <input type="text" asp-for="CreateUserViewModel.Email" class="form-control">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label class="control-label" for="UserName">کلمه عبور</label>
                                    <input type="text" asp-for="CreateUserViewModel.Password" class="form-control">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="UserName" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    <label>انتخاب نقش کاربر</label>
                                    @foreach (var item in Roles)
                                    {
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="SelectedRoles" value="@item.RoleId">@item.RoleTitle
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-md-3 pl-1">
                                <div class="form-group">
                                    <input type="submit" value="ذخیره اطلاعات" class="btn btn-success"style="width: 100%;" />
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>