@model IEnumerable<Sheta.CoreLayer.DTOs.ShowProductViewModel>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@await Component.InvokeAsync("SliderGroupComponent")
@await Component.InvokeAsync("DiscountGroupComponent")

<div class="top-products">
    <div class="container">
        <h3>آخرین محصولات</h3>
        <div class="sap_tabs">
            <div id="horizontalTab">
                <li class="resp-tab-item hidden"><span>Men's</span></li>

                <div class="resp-tabs-container">
                    <div class="tab-1 resp-tab-content">
                        @foreach (var item in Model.Take(9))
                        {
                            <div class="col-md-3 top-product-grids tp1 animated wow slideInUp" data-wow-delay=".5s">
                                <a href="/product/@item.ProductId">
                                    <div class="product-img">
                                        <img style="height: 180px;" src="/images/Product/@item.ProductImage" alt="" />
                                        <div class="p-mask">
                                            <a href="/product/@item.ProductId" class="w3ls-cart pw3ls-cart"><h5 style="color: blanchedalmond; text-align: center !important;">جزئیات محصول</h5></a>
                                        </div>
                                    </div>
                                </a>

                                <h4>@item.ProductTitle</h4>
                                @if (item.ProductPrice == 0)
                                {
                                    <h5>رایگان</h5>
                                }
                                else
                                {
                                    if (item.ProductDiscount != 0)
                                    {
                                        <h5>@item.ProductPrice.ToString("#,0 تومان")  <span style="font-size: 13px; color: green;">@item.ProductDiscount %</span></h5>
                                    }
                                    else
                                    {
                                        <h5>@item.ProductPrice.ToString("#,0 تومان")</h5>
                                    }
                                }

                                <hr />
                            </div>
                        }


                        <div class="clearfix"></div>
                        @*<div class="top-products-set2">
                                <div class="col-md-3 top-product-grids tp5">
                                    <a href="single.html">
                                        <div class="product-img">
                                            <img src="/site/images/ip2.jpg" alt="" />
                                            <div class="p-mask">
                                                <form action="#" method="post">
                                                    <input type="hidden" name="cmd" value="_cart" />
                                                    <input type="hidden" name="add" value="1" />
                                                    <input type="hidden" name="w3ls1_item" value="Inner wear" />
                                                    <input type="hidden" name="amount" value="50.00" />
                                                    <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                                </form>
                                            </div>
                                        </div>
                                    </a>
                                    <i class="fa fa-star yellow-star" aria-hidden="true"></i>
                                    <i class="fa fa-star yellow-star" aria-hidden="true"></i>
                                    <i class="fa fa-star yellow-star" aria-hidden="true"></i>
                                    <i class="fa fa-star gray-star" aria-hidden="true"></i>
                                    <i class="fa fa-star gray-star" aria-hidden="true"></i>
                                    <h4>Inner wear</h4>
                                    <h5>$50.00</h5>
                                </div>
                                <div class="col-md-3 top-product-grids tp6">
                                    <a href="single.html">
                                        <div class="product-img">
                                            <img src="/site/images/shp8.jpg" alt="" />
                                            <div class="p-mask">
                                                <form action="#" method="post">
                                                    <input type="hidden" name="cmd" value="_cart" />
                                                    <input type="hidden" name="add" value="1" />
                                                    <input type="hidden" name="w3ls1_item" value="Shoes" />
                                                    <input type="hidden" name="amount" value="150.00" />
                                                    <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                                </form>
                                            </div>
                                        </div>
                                    </a>
                                    <i class="fa fa-star yellow-star" aria-hidden="true"></i>
                                    <i class="fa fa-star yellow-star" aria-hidden="true"></i>
                                    <i class="fa fa-star yellow-star" aria-hidden="true"></i>
                                    <i class="fa fa-star gray-star" aria-hidden="true"></i>
                                    <i class="fa fa-star gray-star" aria-hidden="true"></i>
                                    <h4>Shoes</h4>
                                    <h5>$150.00</h5>
                                </div>
                                <div class="col-md-3 top-product-grids tp7">
                                    <a href="single.html">
                                        <div class="product-img">
                                            <img src="/site/images/cap1.jpg" alt="" />
                                            <div class="p-mask">
                                                <form action="#" method="post">
                                                    <input type="hidden" name="cmd" value="_cart" />
                                                    <input type="hidden" name="add" value="1" />
                                                    <input type="hidden" name="w3ls1_item" value="Formal shirt" />
                                                    <input type="hidden" name="amount" value="100.00" />
                                                    <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                                </form>
                                            </div>
                                        </div>
                                    </a>
                                    <i class="fa fa-star yellow-star" aria-hidden="true"></i>
                                    <i class="fa fa-star yellow-star" aria-hidden="true"></i>
                                    <i class="fa fa-star yellow-star" aria-hidden="true"></i>
                                    <i class="fa fa-star gray-star" aria-hidden="true"></i>
                                    <i class="fa fa-star gray-star" aria-hidden="true"></i>
                                    <h4>Formal shirt</h4>
                                    <h5>$100.00</h5>
                                </div>
                                <div class="col-md-3 top-product-grids tp4">
                                    <a href="single.html">
                                        <div class="product-img">
                                            <img src="/site/images/wap3.jpg" alt="" />
                                            <div class="p-mask">
                                                <form action="#" method="post">
                                                    <input type="hidden" name="cmd" value="_cart" />
                                                    <input type="hidden" name="add" value="1" />
                                                    <input type="hidden" name="w3ls1_item" value="Watch" />
                                                    <input type="hidden" name="amount" value="200.00" />
                                                    <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                                </form>
                                            </div>
                                        </div>
                                    </a>
                                    <i class="fa fa-star yellow-star" aria-hidden="true"></i>
                                    <i class="fa fa-star yellow-star" aria-hidden="true"></i>
                                    <i class="fa fa-star yellow-star" aria-hidden="true"></i>
                                    <i class="fa fa-star gray-star" aria-hidden="true"></i>
                                    <i class="fa fa-star gray-star" aria-hidden="true"></i>
                                    <h4>Watch</h4>
                                    <h5>$200.00</h5>
                                </div>
                                <div class="clearfix"></div>
                            </div>*@
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="/site/js/easyResponsiveTabs.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
    });
</script>

@await Component.InvokeAsync("BrandGroupComponent")