@using Sheta.CoreLayer.Servises.Interface

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Site/css/style.css" rel="stylesheet" />
    <title>SiteIsUpdating</title>
</head>
<body>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-8 col-xl-12 notfound">
        <img style="width: 700px;" src="~/updating site.jpg" />
        @inject ISiteService _SiteService;
        <h3 style="font-size: 25px;text-align: center!important;direction: rtl;">با عرض پوزش,@_SiteService.GetMasageNotFound()</h3>
    </div>
</div>
</body>
</html>
