@model Sheta.CoreLayer.DTOs.ChangePassViewModel

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_UserPanel.cshtml";

}
<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <a class="navbar-brand" href="/panel">پنل کاربری</a>
        </div>

    </div>
</nav>
<!-- End Navbar -->
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-user">
                <div class="card-header">
                    <h5 class="card-title">افزودن آدرس</h5>
                </div>
                <div class="card-body" style="float: right!important;">
                    <form asp-action="ChangePassword" method="post">
                        <div class="row">
                            <div class="col-md-12 pr-1">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="OldPassword" class="control-label"></label>
                                    <input asp-for="OldPassword" class="form-control" />
                                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 px-1">
                                <div class="form-group">
                                    <label asp-for="Password" class="control-label"></label>
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 pl-1">
                                <div class="form-group">
                                    <label asp-for="RePassword" class="control-label"></label>
                                    <input asp-for="RePassword" class="form-control" />
                                    <span asp-validation-for="RePassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12 pl-1">
                                <div class="form-group">
                                    <input style="font-family: 'yekan'; width: 100%;" type="submit" value="تغییر کلمه عبور" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


