@page "{id}"
@model Sheta.Web.Pages.Admin.Product.DeleteProductModel
@{
    ViewData["Title"] = "DeleteProduct";
    Layout = "~/Pages/Shared/Admin_Layout.cshtml";
}

<div class="main-content" id="panel">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-user">
                <div class="card-header">
                    <form method="post">
                        <input type="hidden"asp-for="Product.ProductId" />
                        <dl class="dl-horizontal">
                            <dt>نام محصول : </dt>
                            <dd>@Model.Product.ProductTitle</dd>
                            <dd>
                                <div class="alert alert-danger">
                                    <h2>هشدار</h2>
                                    <h4>
                                        در صورت حدف تمامی محصول و فاکتور از دسترسی کاربری که محصول را خریده است خارج میشود !
                                    </h4>
                                </div>
                            </dd>
                            <dd>
                                <input type="submit" value="حذف" class="btn btn-danger" />
                            </dd>
                        </dl>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

