@model Sheta.Data.Models.Entities.User.User
@{
    ViewData["Title"] = "SuccessRegister";
}
<div class="alert-success">
    <h3>@Model.UserName گرامی ثبت نام انجام شد</h3>
    <h5>ایمیلی حاوی لینک فعالسازی حساب به</h5>
    <h5>@Model.Email ارسال گردید </h5>
</div>

