@page
@model Sheta.Web.Pages.Admin.Brand.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/Admin_Layout.cshtml";
}

    <div class="main-content" id="panel">
        @await Component.InvokeAsync("NavbarGroupViewModel")
        <!-- Header -->
        <hr />
        <div class="container-fluid mt--6">
            <!-- Dark table -->
            <div class="row">
                <div class="col">
                    <div class="card bg-default shadow">
                        <div class="card-header bg-transparent border-0">
                            <h3 class="text-white mb-0">لیست برند ها</h3>
                            <a href="/admin/brand/createbrand" class="btn btn-success">افزودن برند</a>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-dark table-flush">
                                <thead class="thead-dark" style="font-size: medium!important;">
                                <tr>
                                    <th scope="col" class="sort" data-sort="budget">تصویر</th>
                                    <th scope="col" class="sort" data-sort="name">عنوان</th>
                                    <th scope="col" class="sort" data-sort="name">وضعیت</th>
                                    <th scope="col" class="sort" data-sort="status">دستورات</th>
                                </tr>
                                </thead>
                                <tbody class="list">

                                @foreach (var d in Model.Brands.Brandses)
                                {
                                    <tr>
                                        <td><img style="width: 50px;" src="/images/Brand/@d.BrandImage" /></td>
                                        <td>@d.BrandTitle</td>
                                        @if (d.IsDelete)
                                        {
                                            <td style="color: red">حذف شده</td>
                                        }
                                        else
                                        {
                                            <td style="color: green">در دسترس</td>
                                        }

                                        <td>
                                            <a href="/Admin/brand/Editbrand/@d.BrandId" class="btn btn-warning btn-sm">
                                                ویرایش
                                            </a>
                                            <a href="/Admin/brand/Deletebrand/@d.BrandId" class="btn btn-danger btn-sm">
                                                حذف
                                            </a>
                                        </td>
                                    </tr>
                                }

                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer py-4 shadow" style="        background-color: #263238;">
                            <nav aria-label="...">
                                <ul class="pagination justify-content-end mb-0">

                                    @for (int i = 1; i <= Model.Brands.PageCount; i++)
                                    {
                                        <li class="page-item @((i==Model.Brands.CurrentPage)?"active":"")" aria-controls="dataTables-example" tabindex="0">
                                            <a class="page-link" href="/Admin/brand?PageId=@i">@i</a>
                                        </li>
                                    }

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>