
@{
    ViewData["Title"] = "SucessSend";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert-success">
    <h3>@User.Identity.Name گرامی </h3>
    <h5>پیام شما با موفقیت ارسال گردید</h5>
</div>

